<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644839056945-kc2n9o28ilk02n5erb1gqt87lbl9ftl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644839056945-kc2n9o28ilk02n5erb1gqt87lbl9ftl0</string>
	<key>API_KEY</key>
	<string>AIzaSyAYXbxZhlmxpxBqiIYlnvTK4QJW3AnV1N0</string>
	<key>GCM_SENDER_ID</key>
	<string>644839056945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder2-52edd</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder2-52edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644839056945:ios:23b84188e9b776c40a5710</string>
</dict>
</plist>